body{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 15px;
    width: 750px;
    display: flex;
    height: 50vh;
}

html{ 
    --background: #F2F2F2;
    --header: #C0D99C;
    --menu: #81A649;
    --columns: #B4D966;
    --font: #F2F2F2;
    font-family: 'Zen Loop', cursive;
}

.interface{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "header   header  header"
      "nav      nav     nav"
      "left-sb  main    right-sb"
      "footer   footer  footer";
}

.header{
    background: var(--header);
    width: 750px;
    height: 60px;
    grid-area: header;
    display: flex;
}

.title{
    display: flex;
}

.title img{
    padding: 5px;
}

.title h1{
    font-weight: 500;
}

.top-nav{
    background: var(--menu);
    width: 750px;
    grid-area: nav;
}

.top-nav ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}

.top-nav a{
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--font);
}

.top-nav li:hover{
    background-color: #D9483B;
    color: #590202;
    transition: .5s;
}

.left-nav{
    background: var(--columns);
    width: 150px;
    grid-area: left-sb;
}

.left-nav ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}

.left-nav a{
    padding: 30px 15px;
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--background);
}

.left-nav a:hover{
    background-color: #F2C979;
    color: #BF7E04;
    transition: .5s;
}

.main{
    background: var(--background);
}

form{
    margin: 0;
    width: 200px;
    padding: 100px;
    border: 1px solid #C6D4AE;
    border-radius: 15px;
}

form div + div{
    margin-top: 15px;
}

label{
    display: inline-block;
    width: 90px;
    text-align: left;
}

input{
    outline: none;
}

.right-sidebar{
    background: var(--columns);
    width: 150px;
    grid-area: right-sb;
}

.footer{
    background: var(--header);
    width: 750px;
    height: 50px;
    grid-area: footer;
}

.footer .social-media{
    width: 200px;
    display: flex;
    margin: 15px auto 0;
    justify-content: space-around;
}