<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>Cardápio</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/food-page.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
    </style>
  </head>
  <body>   
    <div class="interface">
      <header class="header">
        <div class="title">
            <img src="/images/logo.png" alt="Prato com talheres e folhas verdes">
            <h1>Delivery</h1>
        </div>
      </header>
      
        <nav class="top-nav">
          <ul class="top-list">
            <li><a href="/layout/about-page.html">Sobre</a></li>
            <li><a href="/layout/food-page.html">Cardápio</a></li>
            <li><a href="/layout/districts-page.html">Bairros Atendidos</a></li>
          </ul>
        </nav>

        <nav class="left-nav">
            <ul class="left-list">
              <li><a href="/layout/maintenance-page.html">Propósito</a></li>
              <li><a href="/layout/maintenance-page.html">Restrições Alimentares</a></li>
              <li><a href="/layout/maintenance-page.html">Opções Veganas</a></li>
            </ul>
        </nav>
  
        <div class="main">
          <h2>Cardápio</h2>
            <div class="meals"> 
                <img src="/images/meal-1.jpg" alt="" width="150px">
                <img src="/images/meal-2.jpg" alt="" width="150px">
                <img src="/images/meal-3.png" alt="" width="150px">
                <img src="/images/meal-4.jpg" alt="" width="150px">
                <img src="/images/meal-5.jpg" alt="" width="150px">
                <img src="/images/meal-6.jpg" alt="" width="150px">
            </div>
        </div>
  
        <div class="right-sidebar"></div>
  
      <div class="footer">
        <div class="social-media">
          <img src="/images/instagram-logo.png" alt="Logo instagram" height="20px">
          <img src="/images/facebook-logo.png" alt="Logo facebook" height="20px">
          <img src="/images/twitter-logo.png" alt="Logo twitter" height="20px">
        </div>
      </div>
    </div>
  </body>
</html>